<ul class="nav justify-content-center">
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ 'home' ]">Show All</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ 'continents/' + 'Africa']">Africa</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ 'continents/' + 'Americas']">America</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ 'continents/' + 'Asia']">Asia</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ 'continents/' + 'Europe']">Europa</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ 'continents/' + 'Oceania']">Oceania</a>
    </li>
  </ul>