.sinBordes{
    border-bottom-width: 0px;
    border-top-width: 0px;
    margin-bottom: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.ModalCss{
    border-left-width: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.star{
    color: yellow;
}